{% extends 'mi_primer_app/base.html' %}

{% block content %}
  <div class="container-boutique">
    <div class="card-boutique">
      <h2 class="titulo-boutique">Accedé a tu cuenta</h2>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario" class="input-boutique">
        <input type="password" name="password" placeholder="Contraseña" class="input-boutique">
        <button type="submit" class="boton-boutique">Ingresar</button>
      </form>
      <p class="texto-secundario">¿No sos usuario? <a href="/registro/">Registrarme</a></p>
    </div>
  </div>
{% endblock %}
