{% extends 'mi_primer_app/base.html' %}

{% block content %}
<div class="home-container">
  <h1>Bienvenido a la tienda boutique de vinos</h1>
  <p>Descubrí sabores únicos, seleccionados con pasión y buen gusto.</p>
  <p>Antes de ingresar, necesitamos saber si sos mayor de edad.</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="mayor" value="sí" class="boton-si">Sí, tengo más de 18 años</button>
    <button type="submit" name="mayor" value="no" class="boton-no">No, soy menor de edad</button>
  </form>
</div>
{% endblock %}
