.boutique-btn {
  background-color: #198754;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.boutique-btn:hover {
  background-color: #157347;
}

.boutique-btn-negativo {
  background-color: transparent;
  color: #dc3545;
  border: 2px solid #dc3545;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.boutique-btn-negativo:hover {
  background-color: #dc3545;
  color: white;
}