{% extends "base.html" %}
{% load static %}

{% block title %}{{ vino.nombre }} — Ficha Boutique{% endblock %}

{% block content %}
<main class="container py-5">
  <section class="row">
    <div class="col-md-6">
      {% if vino.imagen %}
        <img src="{{ vino.imagen.url }}" alt="{{ vino.nombre }}" class="img-fluid rounded shadow-sm">
      {% else %}
        <img src="{% static 'pages/img/default_vino.jpg' %}" alt="Imagen por defecto" class="img-fluid rounded shadow-sm">
      {% endif %}
    </div>
      <form method="post" action="{% url 'carrito:agregar' vino.slug %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-success">🛒 Agregar al carrito</button>
      </form>
    <div class="col-md-6">
      <h1 class="display-5">{{ vino.nombre }}</h1>
      <p class="lead">{{ vino.varietal }} — Añada {{ vino.añada|date:"Y" }}</p>
      <p><strong>Precio:</strong> ${{ vino.precio }}</p>

      <hr>

      <h5 class="mt-4">Notas sensoriales</h5>
      <div class="richtext">
        {{ vino.notas|safe }}
      </div>

      <h5 class="mt-4">Maridaje recomendado</h5>
      <p>{{ vino.maridaje }}</p>

      <div class="mt-4">
        <a href="{% url 'pages:vino_list' %}" class="btn btn-outline-dark">← Volver a la selección</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}